<footer>
  <div>
    <h5>ACTIVITY AREA</h5>
    <ul>
      <li>
        Research and development R&D and Innovation
      </li>
      <li>
        Consulting
      </li>
      <li>
        Outsourcing
      </li>
      <li>
        Training (No Approval in progress)
      </li>
    </ul>
  </div>

  <div>
    <h5>About</h5>
    <ul>
      <li>
        <a [routerLink]="['']">PROJECTS</a>
      </li>
      <li>
        <a [routerLink]="['']">ABOUT US</a>
      </li>
    </ul>
  </div>

  <div>
    <h5>Address</h5>
    <ul>
      <li>
        email
      </li>
      <li>
        numéro tel
      </li>
      <li>
        address physique
      </li>
    </ul>
  </div>

  <div>
    <h5>Follow us</h5>
    <p>A DELETE?</p>

    <div>© 2021 Copyright:
      <a href="https://lerif.eu/"> rif.eu</a>
    </div>
  </div>
</footer>
