  <div class="d-flex justify-content-end">

    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-reward"
      [routerLink]="['new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="crowdFundingJHipsterApp.reward.home.createLabel"> Create a new Reward </span>
    </button>
  </div>

  <div class="alert alert-warning mt-4" id="no-result" *ngIf="rewards?.length === 0">
    <span jhiTranslate="crowdFundingJHipsterApp.reward.home.notFound">No rewards found</span>
  </div>

  <div class="justify-content-center">
    <div class="mr-3 ml-3 pl-2 mt-4 desc shadow-lg" *ngFor="let reward of rewards; trackBy: trackId">
      <div>
        <p class=".h3 font-weight-bold">For {{ reward.minimumValue }} dollars or more</p>
      </div>
      <a class="b-link-fade b-animate-go" [routerLink]="['/reward', reward.id, 'view']">
        <img *ngIf="reward.image" width="360" height="230" [src]="'data:' + reward.imageContentType + ';base64,' + reward.image" alt="reward image" />
        <img *ngIf="!reward.image" width="360" height="230" src="../../../content/images/projectLogo.png" alt="reward image" />
      </a>

      <div>
        <h2>{{ reward.title }}</h2>
        <p class="lead">{{ reward.description }}</p>
        <div>
          <p *ngIf="reward.deliverAt">{{ reward.deliverAt | formatMediumDatetime }}</p>
          <p *ngIf="!reward.deliverAt">Date not specified</p>
        </div>
        <div>
          <p *ngIf="reward.expiresAt">{{ reward.expiresAt | formatMediumDatetime }}</p>
          <p *ngIf="!reward.expiresAt">Date not specified</p>
        </div>
        <div>
          <p *ngIf="reward.maximumContributions">{{ reward.maximumContributions }} € maximum</p>
        </div>
        <div class="text-right">
          <div class="btn-group">
            <button type="submit" [routerLink]="[reward.id]" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>

            <button *ngIf="creator" type="submit" [routerLink]="[reward.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <button *ngIf="creator" type="submit" (click)="delete(reward)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
