<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group mt-2">
          <label [hidden]="true" class="form-control-label" jhiTranslate="crowdFundingJHipsterApp.projectComment.comment" for="field_comment"
            >Comment</label
          >
          <input type="text" class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment" />
          <div *ngIf="editForm.get('comment')!.invalid && (editForm.get('comment')!.dirty || editForm.get('comment')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('comment')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('comment')?.errors?.maxLength"
              jhiTranslate="entity.validation.maxLength"
              [translateValues]="{max: 255}"
            >
              This field cannot be longer than 255 characters.
            </small>
            <small
            class="form-text text-danger"
            *ngIf="editForm.get('comment')?.errors?.minlength"
            jhiTranslate="entity.validation.minlength"
            [translateValues]="{min: 5}"
            >
            Minimum 5 characters.
            </small>
          </div>
        </div>

        <div class="form-group" [hidden]="true">
          <label class="form-control-label" jhiTranslate="crowdFundingJHipsterApp.projectComment.userInfos" for="field_userInfos">User Infos</label>
          <input type="number" class="form-control" name="userInfos" id="field_userInfos" data-cy="userInfos" formControlName="userInfos" [readonly]="true" />
        </div>

        <div class="form-group" [hidden]="true">
          <label class="form-control-label" jhiTranslate="crowdFundingJHipsterApp.projectComment.project" for="field_project">ProjectId</label>
          <input type="number" class="form-control" name="project" id="field_project" data-cy="project" formControlName="project" [readonly]="true" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
