<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="communityNotifications">
      <h2 data-cy="communityNotificationsDetailsHeading">
        <span jhiTranslate="crowdFundingJHipsterApp.communityNotifications.detail.title">Community Notifications</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ communityNotifications.id }}</span>
        </dd>
        <dt><span jhiTranslate="crowdFundingJHipsterApp.communityNotifications.content">Content</span></dt>
        <dd>
          <span>{{ communityNotifications.content }}</span>
        </dd>
        <dt><span jhiTranslate="crowdFundingJHipsterApp.communityNotifications.sentAt">Sent At</span></dt>
        <dd>
          <span>{{ communityNotifications.sentAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="crowdFundingJHipsterApp.communityNotifications.community">Community</span></dt>
        <dd>
          <div *ngIf="communityNotifications.community">
            <a [routerLink]="['/community', communityNotifications.community?.id, 'view']">{{ communityNotifications.community?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/community-notifications', communityNotifications.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
