<div>
  <h2 id="page-heading" data-cy="ProjectHeading">
    <span jhiTranslate="crowdFundingJHipsterApp.project.home.title">Projects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="crowdFundingJHipsterApp.project.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project"
        [routerLink]="['/project/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="crowdFundingJHipsterApp.project.home.createLabel"> Create a new Project </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projects?.length === 0">
    <span jhiTranslate="crowdFundingJHipsterApp.project.home.notFound">No projects found</span>
  </div>

  <div id="entities" *ngIf="projects && projects.length > 0">
    <div class="row mb-3 mr-2 justify-content-end" jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
      <div class="mr-3" scope="col" jhiSortBy="category.id">
        <span jhiTranslate="crowdFundingJHipsterApp.project.category">Category</span> <fa-icon icon="sort"></fa-icon>
      </div>
      <div class="mr-3" scope="col" jhiSortBy="title">
        <span jhiTranslate="crowdFundingJHipsterApp.project.title">Title</span> <fa-icon icon="sort"></fa-icon>
      </div>
      <div class="mr-3" scope="col" jhiSortBy="goal">
        <span jhiTranslate="crowdFundingJHipsterApp.project.goal">Goal</span> <fa-icon icon="sort"></fa-icon>
      </div>

    </div>
    <div class="row justify-content-center">
      <div class="mr-3 ml-3 mb-4 col-lg-3 col-md-3 col-xs-12 desc shadow-lg" *ngFor="let project of projects ; trackBy: trackId">
        <a class="b-link-fade b-animate-go" [routerLink]="['/project', project.id, 'view']">
          <img *ngIf="project.coverImage" width="360" height="230" [src]="'data:' + project.coverImageContentType + ';base64,' + project.coverImage" alt="project image" />
          <img *ngIf="!project.coverImage" width="360" height="230" src="../../../content/images/projectLogo.png" alt="project image" />
        </a>
        <div class="desc1">
          <p>{{ project.title }}</p>
          <p class="lead">{{ project.headline }}</p>
          <div class="row">
            <div class="col-6">
              <p *ngIf="project.amount">{{ project.amount}} / {{project.goal}}</p>
              <p *ngIf="!project.amount">0 / {{project.goal}}</p>
            </div>
            <div class="col-6">
              <p *ngIf="project.participants">{{ project.participants}} participants</p>
              <p *ngIf="!project.participants">0 participants</p>
            </div>
          </div>
          <button
            type="submit"
            [routerLink]="['/project', project.id, 'view']"
            class="btn btn-info btn-sm"
            data-cy="entityDetailsButton"
          >
            <fa-icon icon="eye"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
          </button>
          <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(project)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
            <fa-icon icon="times"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
          </button>

          <div class="hr-d"></div>
          <p class="time row">
            <span class="col-5"><i class="fa fa-tag"></i> {{ project.category?.name }}</span>
            <span class="col-5 col-offset-2"><i class="fa fa-calendar"></i> Time left : {{(project.duration? calcHours(project.duration) : '0 hours')}}</span>
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="projects && projects.length > 0">

      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
