<div>
  <h2 id="page-heading" data-cy="ProjectCommentHeading">
    <span jhiTranslate="crowdFundingJHipsterApp.projectComment.home.title">Project Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="crowdFundingJHipsterApp.projectComment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project-comment"
        [routerLink]="['/project-comment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="crowdFundingJHipsterApp.projectComment.home.createLabel"> Create a new Project Comment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projectComments?.length === 0">
    <span jhiTranslate="crowdFundingJHipsterApp.projectComment.home.notFound">No projectComments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="projectComments && projectComments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="crowdFundingJHipsterApp.projectComment.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userInfos.id">
            <span jhiTranslate="crowdFundingJHipsterApp.projectComment.userInfos">User Infos</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="project.id">
            <span jhiTranslate="crowdFundingJHipsterApp.projectComment.project">Project</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projectComment of projectComments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/project-comment', projectComment.id, 'view']">{{ projectComment.id }}</a>
          </td>
          <td>{{ projectComment.comment }}</td>
          <td>
            <div *ngIf="projectComment.userInfos">
              <a [routerLink]="['/user-infos', projectComment.userInfos?.id, 'view']">{{ projectComment.userInfos?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="projectComment.project">
              <a [routerLink]="['/project', projectComment.project?.id, 'view']">{{ projectComment.project?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/project-comment', projectComment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/project-comment', projectComment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(projectComment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="projectComments && projectComments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
