<div>
  <router-outlet></router-outlet>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projectComments?.length === 0">
    <span jhiTranslate="crowdFundingJHipsterApp.projectComment.home.notFound">No projectComments found</span>
  </div>

  <div class="justify-content-center offset-2 col-6" id="entities" *ngIf="projectComments && projectComments.length > 0">
    <div *ngFor="let projectComment of projectComments; trackBy: trackId" data-cy="entityTable">
      <div>
        <div class="row font-weight-bold">{{projectComment?.userInfos?.user?.login}}</div>
        <div class="row">
          <span class="col-10">{{ projectComment.comment }}</span>
          <button type="submit" (click)="delete(projectComment)" class="btn btn-danger btn-sm col-2" data-cy="entityDeleteButton">
            <fa-icon icon="times"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="projectComments && projectComments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
