<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="community">
      <h2 data-cy="communityDetailsHeading"><span jhiTranslate="crowdFundingJHipsterApp.community.detail.title">Community</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ community.id }}</span>
        </dd>
        <dt><span jhiTranslate="crowdFundingJHipsterApp.community.name">Name</span></dt>
        <dd>
          <span>{{ community.name }}</span>
        </dd>
        <dt><span jhiTranslate="crowdFundingJHipsterApp.community.nameFr">Name Fr</span></dt>
        <dd>
          <span>{{ community.nameFr }}</span>
        </dd>
        <dt><span jhiTranslate="crowdFundingJHipsterApp.community.createdAt">Created At</span></dt>
        <dd>
          <span>{{ community.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="crowdFundingJHipsterApp.community.about">About</span></dt>
        <dd>
          <span>{{ community.about }}</span>
        </dd>
        <dt><span jhiTranslate="crowdFundingJHipsterApp.community.coverImage">Cover Image</span></dt>
        <dd>
          <div *ngIf="community.coverImage">
            <a (click)="openFile(community.coverImage, community.coverImageContentType)">
              <img
                [src]="'data:' + community.coverImageContentType + ';base64,' + community.coverImage"
                style="max-width: 100%"
                alt="community image"
              />
            </a>
            {{ community.coverImageContentType }}, {{ byteSize(community.coverImage) }}
          </div>
        </dd>
        <dt><span jhiTranslate="crowdFundingJHipsterApp.community.communityMembers">Community Members</span></dt>
        <dd>
          <div *ngIf="community.communityMembers">
            <a [routerLink]="['/community-members', community.communityMembers?.id, 'view']">{{ community.communityMembers?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="crowdFundingJHipsterApp.community.admin">Admin</span></dt>
        <dd>
          <div *ngIf="community.admin">
            <a [routerLink]="['/user-infos', community.admin?.id, 'view']">{{ community.admin?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/community', community.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
